.shape {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: var(--back-color-1);
    padding: 30px 40px 30px 40px;
}

.header {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}

.inputSpacing {
    margin-bottom: 15px;
}

.link {
    width: fit-content;
    margin-top: 5px;
    color: var(--main-color-1);
    font-size: 13px;
}

.redirect {
    margin-top: 5px;
    color: var(--text-color-1);
    font-size: 13px;
}

.redirect > a {
    text-decoration: underline;
    color: var(--main-color-1);
}