<template>
    <div class="shape">
        <h2 class="header">
            Register
        </h2>
        <marble-label-input class="inputSpacing" label="Username"></marble-label-input>
        <marble-label-input class="inputSpacing" type="email" label="Email"></marble-label-input>
        <marble-label-input type="password" label="Password"></marble-label-input>
        <marble-button text="Register"></marble-button>
        <div class="redirect">
            <p>Already have an account? </p><a href="#" class="login">Login</a>
        </div>
    </div>
</template>