    <!-- Login -->
    <template id="root">
        <div class="box">
            <div class="info">
                <h1 class="header">Welcome back</h1>
                <p class="motd">Message of the day!</p>
            </div>
            <div class="form">
                <marble-labelinput id="credentials" label="username or email"></marble-labelinput>
                <marble-labelinput id="password" label="password" type="password" link="Forgot password?"></marble-labelinput>
                <button class="submit">Login</button>
                <div class="footer">
                    <p class="linkText">Need an account?</p><a class="link redirect" tabindex="0">Register</a>
                </div>
            </div>
        </div>
    </template>