<!-- Register -->
<template id="root">
    <div class="container">
        <div class="box">
            <div class="info">
                <h1 class="header">Create account</h1>
                <p class="motd">Message of the day!</p>
            </div>
            <div class="form">
                <marble-labelinput label="username" id="username"></marble-labelinput>
                <marble-labelinput label="email" type="email" id="email"></marble-labelinput>
                <marble-labelinput label="password" type="password" id="password"></marble-labelinput>
                <div class="input">
                    <label>Date of birth</label>
                    <div class="multyInput">
                        <marble-dropdown id="day" name="Day" options="1-31"></marble-dropdown>
                        <marble-dropdown id="month" name="Month"
                            options="January;February;March;April;May;June;July;August;September;October;November;December"></marble-dropdown>
                        <marble-dropdown id="year" name="Year" options="1900-2022"></marble-dropdown>
                    </div>
                </div>
                <div class="checkBox">
                    <marble-checkbox style="margin-right: 10px;"></marble-checkbox>
                    <p class="linkText">I agree with</p><a href="" class="link">Terms & Conditions</a>
                </div>
                <button class="submit">Register</button>
                <div class="footer">
                    <p class="linkText">Already have an account?</p><a tabindex="0" class="link redirect">Login</a>
                </div>
            </div>
        </div>
    </div>
</template>