.box {
    width: 818px;
    padding: 15px;
    border-radius: 4px;
    background-color: #151515;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.boxHeader {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.week {
    font-weight: 500;
    margin-left: 28px;
    font-size: 12px;
    color: rgb(200, 200, 200);
}

.date {
    font-weight: 500;
    margin-right: 28px;
    font-size: 14px;
    color: white;
}

.boxInput {
    background-color: #151515;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.drag {
    margin-right: 5px;
}

.description {
    width: 100%;
    color: white;
}

.time {
    text-align: center;
    width: 80px;
}

.class {
    text-align: center;
    width: 80px;
}

input {
    font-size: 15px;
    color: white;
    padding: 21px;
    height: 18px;
    background-color: #0E0E0E;
    outline: none;
    border-radius: 4px;
    border: 0px;
    margin-left: 10px;
}

.boxOptions {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}


.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 46px;
    height: 46px;
    background-color: rgba(var(--main-color), 0.7);
    border-radius: 4px;
    transition: 0.2s ease background-color;
}

.button:hover {
    background-color: rgba(var(--main-color), 1);
}

.check {
    margin-left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    display: flex;
}

.checkbox > p {
    color: white;
    font-size: 13px;
}

.closeIcon > path {
    fill: rgb(200, 200, 200);
}

*:disabled {
    background-color: #0e0e0e;
}

*:disabled::placeholder {
    color: rgb(93, 93, 93);
}

.closeIcon {
    cursor: pointer;
}

.closeIcon:hover > path {
    fill: rgb(255, 255, 255);
}

.close {
    position: relative;
}

.hide {
    opacity: 0;
    cursor: default !important;
}

.hideMenu {
    display: none;
}