.tooltip {
    left: 5px;
    top: 53px;
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 4px;
}

.closed {
    display: none;
}