.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.input > label {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: rgb(200, 200, 200);
}

.inputLink {
    margin-top: 8px;
}

.link {
    width: fit-content;
    color: lightskyblue;
    font-size: 12px;
}

.input > input {
    font-size: 15px;
    outline: none;
    color: white;
    width: 416px;
    padding: 11px;
    border-radius: 6px;
    border: 0px;
    background-color: rgb(12, 12, 12);
}
