.calendar {
    padding-bottom: 10px;
    margin-top: 20px;
    width: 100%;
    background-color: #151515;
    border-radius: 4px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current {
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentText {
    user-select: none;
    color: rgb(200, 200, 200);
    font-size: 14px;
    font-weight: 500;
}

.downArrow {
    margin-left: 10px;
    cursor: pointer;
}

.rotatedArrow {
    transform: rotate(180deg);
}

.controls {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34px;
    margin-right: 24px;
}

.control {
    cursor: pointer;
}

.control > path {
    fill: rgb(200, 200, 200);
    transition: 0.2s ease fill;
}


.control:hover > path {
    fill: rgb(var(--main-color));
}

.days {
    display: flex;
    justify-content: center;
    align-items: center;
}

.day {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: rgb(200, 200, 200);
    font-size: 14px;
}

.dates {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.date {
    border-radius: 50%;
    user-select: none;
    font-size: 14px;
    color: rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    transition: 0.2s ease all;
    cursor: pointer;
}

.date:hover {
    color: rgb(255, 255, 255);
}

.selected {
    background-color: rgb(var(--main-color));
    border-radius: 50%;
    color: #151515 !important;
}

.root {
    transition: 0.2s ease all;
}

.range {
    background-color: rgba(var(--main-color), 0.6);
    border-radius: 0px;
    color: #151515 !important;
}

.rangeStart {
    background-color: rgba(var(--main-color), 0.6);
    border-radius: 50% 0px 0px 50%;
}

.rangeEnd {
    background-color: rgba(var(--main-color), 0.6);
    border-radius: 0px 50% 50% 0px;
}

.selected:hover {
    color: #151515 !important;
}

.nodate {
    color: rgba(255, 255, 255, 0.332);
}

.currentDate {
    border: 1px solid white;
}


.dropdown {
    width: 50px;
    height: fit-content;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
}

.menu {
    border-radius: 4px;
    top: 9px;
    right: 28px;
    background-color: rgb(16, 16, 16);
    list-style-type: none;
    position: absolute;
}

.menuItem {
    text-decoration: none;
    color:rgb(200, 200, 200);
    font-size: 14px;
    padding: 10px;
}

.active {
    background-color: rgba(var(--main-color), 0.6);
}

.menuItem:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}
