.calendar {
    padding-bottom: 10px;
    margin-top: 20px;
    width: 100%;
    background-color: #151515;
    border-radius: 4px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current {
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentText {
    user-select: none;
    color: rgb(200, 200, 200);
    font-size: 14px;
    font-weight: 500;
}

.downArrow {
    margin-left: 10px;
}

.controls {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34px;
    margin-right: 24px;
}

.control > path {
    fill: rgb(200, 200, 200);
    transition: 0.2s ease fill;
}


.control:hover > path {
    fill: #6200EE;
}

.back {}

.next {}

.days {
    display: flex;
    justify-content: center;
    align-items: center;
}

.day {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: rgb(200, 200, 200);
    font-size: 14px;
}

.dates {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.date {
    border-radius: 50%;
    user-select: none;
    font-size: 14px;
    color: rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    transition: 0.2s ease color;
    cursor: pointer;
}

.date:hover {
    color: rgb(255, 255, 255);
}

.selected {
    border-color: #151515 !important;
    background-color: #6200EE;
    border-radius: 50%;
    color: #151515 !important;
}

.range {
    background-color: rgba(98, 0, 238, 0.6);
    border-radius: 0px;
    color: #151515 !important;
}

.rangeStart {
    background-color: rgba(98, 0, 238, 0.6);
    border-radius: 50% 0px 0px 50%;
}

.rangeEnd {
    background-color: rgba(98, 0, 238, 0.6);
    border-radius: 0px 50% 50% 0px;
}

.selected:hover {
    color: #151515 !important;
}

.nodate {
    color: rgba(255, 255, 255, 0.332);
}

.currentDate {
    border: 1px solid white;
}