<template id="root">
    <div class="calendar">
        <div class="header">
            <div class="current">
                <p class="currentText">November 2021</p>
                <svg class="downArrow" xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"
                    fill="none">
                    <path d="M0 0L5 5L10 0H0Z" fill="rgb(200, 200, 200)" />
                </svg>
            </div>
            <div class="controls">
                <svg class="back control" xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.8249 1.175L5.6499 0L0.649902 5L5.6499 10L6.8249 8.825L3.00824 5L6.8249 1.175Z"
                         />
                </svg>
                <svg class="next control" xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M1.99971 0L0.824707 1.175L4.64137 5L0.824707 8.825L1.99971 10L6.99971 5L1.99971 0Z"
                        />
                </svg>
            </div>
        </div>
        <div class="days">
            <div class="day">M</div>
            <div class="day">T</div>
            <div class="day">W</div>
            <div class="day">T</div>
            <div class="day">F</div>
            <div class="day">S</div>
            <div class="day">S</div>
        </div>
        <div class="dates">
            <div class="date nodate">26</div>
            <div class="date nodate">27</div>
            <div class="date nodate">28</div>
            <div class="date nodate">29</div>
            <div class="date nodate">30</div>
            <div class="date nodate">31</div>
            <div class="date">1</div>
            <div class="date">2</div>
            <div class="date">3</div>
            <div class="date">4</div>
            <div class="date">5</div>
            <div class="date">6</div>
            <div class="date">7</div>
            <div class="date">8</div>
            <div class="date selected">9</div>
            <div class="date">10</div>
            <div class="date">11</div>
            <div class="date">12</div>
            <div class="date">13</div>
            <div class="date">14</div>
            <div class="date">15</div>
            <div class="date">16</div>
            <div class="date">17</div>
            <div class="date">18</div>
            <div class="date">19</div>
            <div class="date">20</div>
            <div class="date">21</div>
            <div class="date">22</div>
            <div class="date">23</div>
            <div class="date">24</div>
            <div class="date">25</div>
            <div class="date">26</div>
            <div class="date">27</div>
            <div class="date">28</div>
            <div class="date">20</div>
            <div class="date">30</div>
            <div class="date nodate">1</div>
            <div class="date nodate">2</div>
            <div class="date nodate">3</div>
            <div class="date nodate">4</div>
            <div class="date nodate">5</div>
            <div class="date nodate">6</div>
        </div>
    </div>
</template>