main {
    width: 100%;
    display: flex;
}

.cards {
    position: fixed;
    width: 256px;
    margin: 20px;
}

.main {
    padding-bottom: 20px;
    width: calc(100% - 296px);
    margin-left: 296px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 1160px) {
    .cards {
        position: relative;
        margin-bottom: 0px;
    }

    .main {
        margin-left: 0px;
        width: 100%;
    }

    main {
        flex-direction: column;
    }
}