main {
    width: 100%;
    display: flex;
}

.cards {
    position: fixed;
    width: 256px;
    margin: 20px;
}

.main {
    padding-bottom: 20px;
    width: calc(100% - 296px);
    margin-left: 296px;
    display: flex;
    align-items: center;
    flex-direction: column;
}